<h1><%= @imdb_movie.title %></h1>
<% if @imdb_movie.director %>
  <h3>Directed by: </h3><p><%= @imdb_movie.director.split('\n').first %></p>
<% else %>
  nil
<% end %>
<h3>Starring<%= @imdb_movie.actors.class %></h3>
<h3>Plot: </h3>
  <p>
    "<%=@imdb_movie.plot%>"
  </p>

<% if @imdb_movie.favorite = true %>
  <h3>Your Rating: <%= @imdb_movie.rating = 100 %></h3>
<% else %>
  <%= @imdb_movie.rating == 50 %>
<% end %>
<h4> MPAA: <%= @imdb_movie.mpaa_rating %></h4>

<!-- cant remember how to route to destroy -->
<form action="/movies/<%= @imdb_movie.id %>/delete" method="get">
  <input type="hidden" name="_method" value="destroy">
  <button>Delete Task</button>
</form>
